<ul>
	{{# patternModifiers }}
		<li> <strong>{{ modifierName }}:</strong> {{ modifierDesc }}</li>
	{{/ patternModifiers }}
</ul>
{{# compatibilityExists }}
	<p>{{ compatibility }}</p>
{{/ compatibilityExists }}
{{# experimentalExists }}
	<p>{{ experimental }}</p>
{{/ experimentalExists }}
{{# deprecatedExists }}
	<p>{{ deprecated }}</p>
{{/ deprecatedExists }}
{{# parametersExists }}
	<p>{{ parameters }}</p>
{{/ parametersExists }}