<ul>
	{{# patternModifiers }}
		<li> <strong>{{ modifierName }}:</strong> {{ modifierDesc }}</li>
	{{/ patternModifiers }}
</ul>
{{# compatibilityExists }}
	<p>{{ compatibility }}</p>
{{/ compatibilityExists }}
{{# experimentalExists }}
	<p>Experimental: {{ experimental }}</p>
{{/ experimentalExists }}
{{# deprecatedExists }}
	<p>Deprecated: {{ deprecated }}</p>
{{/ deprecatedExists }}
{{# parametersExists }}
	<ul>{{# parameters }}<li>{{ name }}  - {{ description }}</li>{{/ parameters }}</ul>
{{/ parametersExists }}