{{# patternModifiers }}
	{{# modifierCodeExists }}
	<div class="sg-pattern-example sg-pattern-example-modifier">
		<span class="sg-pattern-example-modifier-name">{{ modifierName }}</span>
		{{{ modifierCode }}}
	</div>
	{{/ modifierCodeExists }}
{{/ patternModifiers }}